<div class="home-sides-container">
  <div class="home-container">
    <img src="http://vignette1.wikia.nocookie.net/ssb/images/0/0f/Foxmeleeclear.png/revision/latest?cb=20140221203953">
  </div>
</div>
