<div class="home-sides-container">
  <div class="home-container">

    <div id="fox-btn" class="floated_img">
        <img class="image-border-radius" src="http://cdn.wikimg.net/strategywiki/images/7/72/SSBM_Portrait_Fox.png" height="93px" width="93px">
    </div>
    <div id="falco-btn" class="floated_img">
        <img src="https://jcabiguen.files.wordpress.com/2015/02/ssbm_falco_render_by_machriderz-d56n3i9.png" height="93px" width="93px">
    </div>
    <div id="marth-btn" class="floated_img">
        <img class="image-border-radius" src="http://cdn.wikimg.net/strategywiki/images/a/a5/SSBM_Portrait_Marth.png" height="93px" width="93px">
    </div>
    <div id="sheik-btn" class="floated_img">
        <img src="http://www.ssbwiki.com/images/thumb/7/78/OoT_Sheik_PM.png/180px-OoT_Sheik_PM.png" height="93px" width="93px">
    </div>

    <div class="char-data">

      <div id='fox-info'>
        <ul class="list-group">
          <li class="list-group-item">
            <h2>Character Summary</h2>
            <p>fox is OP.</p>
          </li>
          <li class="list-group-item">
            <h2>Famous Fox Players</h2>
            <p>Mango, Leffen, Hax</p>
          </li>
        </ul>
      </div>

      <div id='falco-info'>
        <ul class="list-group">
          <li class="list-group-item">
            <h2>Character Summary</h2>
            <p>Falco shoots a lot of lasers. PEW PEW</p>
          </li>
          <li class="list-group-item">
            <h2>Famous Falco Players</h2>
            <p>PPMD, Westballz, Zhu</p>
          </li>
        </ul>
      </div>

      <div id='marth-info'>
        <ul class="list-group">
          <li class="list-group-item">
            <h2>Character Summary</h2>
            <p>Marth has a sword and swings it a bunch.</p>
          </li>
          <li class="list-group-item">
            <h2>Famous Marth Players</h2>
            <p>Mew2king, PPMD, Ken</p>
          </li>
        </ul>
      </div>

      <div id='sheik-info'>
        <ul class="list-group">
          <li class="list-group-item">
            <h2>Character Summary</h2>
            <p>Sheik grabs a lot and has some of the best matchups in the game.</p>
          </li>
          <li class="list-group-item">
            <h2>Famous Sheik Players</h2>
            <p>Mew2king, Plup, Shroomed</p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
