<div class="home-sides-container">
  <div class="home-container">
    <div class="character-container">
      <img src="http://vignette1.wikia.nocookie.net/ssb/images/0/0f/Foxmeleeclear.png/revision/latest?cb=20140221203953" height="20%" width="20%">
      <button id="fox" type="button" class="btn btn-info">Fox</button>
    </div>
    <div class="character-container">
      <img src="https://jcabiguen.files.wordpress.com/2015/02/ssbm_falco_render_by_machriderz-d56n3i9.png" height="20%" width="20%">
      <button id="falco" type="button" class="btn btn-info">Falco</button>
    </div>
  </div>
</div>
