<div class="home-sides-container">
  <div class="home-container">

    <div class="first-home-div">
      <div class="about">
        <div class="page-header">
          <h2>About</h2>
        </div>
        <p>Melee Hub is a website devoted to Super Smash Bros Melee. SSBM is a highly competitive fighting game that requires mental fortitude, technical skill, and practice in order to compete.
          Getting better can be challenging with the vast amount of data surrounding SSBM - this inspired me to make Melee Hub.
          My goal is to provide useful information to beginners who strive to learn more and improve.</p>
      </div>
      <div class="smash-logo">
        <img id="smash-img" src="https://upload.wikimedia.org/wikipedia/commons/3/31/Super_Smash_Bros._Melee_logo.png">
      </div>
    </div>

    <div class = "row">

      <div class = "col-sm-6 col-md-3">
        <a href="http://www.twitch.tv/mang0" target="_blank" class="thumbnail">
          <img src="http://schneeblog.com/wp-content/uploads/2015/07/mango.jpg" alt="=(">
        </a>

        <div class = "caption">
           <h3>Mang0 Twitch</h3>
           <p>The kid may not be #1 anymore but he is always entertaining to watch. Checkout his Twitch channel for the latest highlights.</p>
        </div>
     </div>

     <div class = "col-sm-6 col-md-3">
       <a href="https://www.smashladder.com/guides/view/25jx/melee/melee-netplay-guide" target="_blank" class="thumbnail">
         <img src="http://images.nintendolife.com/news/2015/02/another_wii_u_gamecube_controller_adapter_battles_for_your_smash_bros_loyalty/attachment/0/original.jpg" alt="=(">
       </a>

       <div class = "caption">
          <h3>Netplay</h3>
          <p>Trouble finding local tournaments? Follow this guide and you'll be smashing online in no time.</p>
       </div>
    </div>

    <div class = "col-sm-6 col-md-3">
      <a href="https://smash.gg/tournaments" target="_blank" class="thumbnail">
        <img src="http://images.nintendolife.com/news/2014/04/ninterview_jason_mew2king_zimmerman_on_mastering_super_smash_bros/attachment/1/original.jpg" alt="=(">
      </a>

      <div class = "caption">
         <h3>Smash.gg</h3>
         <p>Follow upcoming tournaments, register, view live brackets and more.</p>
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
     <a href="http://smashboards.com/" target="_blank" class="thumbnail">
       <img src="https://pbs.twimg.com/profile_images/3250974304/443a092233cc35afbb5ac83a36914dc1_400x400.png" alt="=(">
     </a>

     <div class = "caption">
        <h3>Smashboards</h3>
        <p>The original smash bros forum. Great for connecting with smashers in your region and much more.</p>
     </div>
  </div>

  </div>

  </div>
</div>
