@import "bootstrap";

.panel-default {
    background-color: #182558;
    height: 70px;
    border-radius: 0;
}
.panel-body {
  max-width: 1180px;
  margin: auto;
  height: 70px;
}

.home {
  font-size: 30px;
  color: white;
}

.login {
  font-size: 20px;
  color: white;
  float:right;
  padding-top: 10px;
}

div a:hover {
    color: #ECECEC;
    text-decoration: none;
}

.navbar-default {
  border-radius: 0;
  margin-bottom: 0px;
  border-bottom: 1px solid #808080;
}

.panel {
  margin-bottom: 0px;
  border: none;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-header a.navbar-brand {
  color:#333333;
}

.navbar-header a.navbar-brand:hover {
  color:#5A6691;
}

.navbar-brand {
  float:none;
  padding-left: 25px;
  padding-right: 25px;
}

// home page content css below

.home-sides-container {
  background-color: #f8f8f8;
  border-top: 1px solid #e6e6e1;
}

.home-container {
  position: relative;
  max-width: 1180px;
  margin: auto;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  padding-bottom: 15px;
  border-right: 2px solid #e6e6e1;
  border-left: 2px solid #e6e6e1;
  border-bottom: 2px solid #e6e6e1;
}

.about {
  max-width: 500px;
  display: inline-block;
}

.smash-logo {
  margin-top: 20px;
  margin-left: 65px;
  display: inline-block;
  max-width: 500px;
  position: absolute;
  top: 10px;
}

.row {
  margin-top: 25px;
}

.thumbnail {
  width: 249px;
  height: 163px;
  overflow: auto;
}

// character css below

.character-container {
  text-align: center;
  background-color: cyan;
  border: 1px solid black;
  margin-top: 2px;
}
