@import "bootstrap";

.panel-default {
    background-color: #182558;
    height: 70px;
    border-radius: 0;
}
.panel-body {
  max-width: 1180px;
  margin: auto;
  height: 70px;
}

.home {
  font-size: 30px;
  color: white;
}

.login {
  font-size: 20px;
  color: white;
  float:right;
  padding-top: 10px;
}

div a:hover {
    color: #ECECEC;
    text-decoration: none;
}

.navbar-default {
  border-radius: 0;
  margin-bottom: 0px;
  border-bottom: 1px solid #808080;
}

.panel {
  margin-bottom: 0px;
  border: none;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-header a.navbar-brand {
  color:#333333;
}

.navbar-header a.navbar-brand:hover {
  color:#5A6691;
}

.navbar-brand {
  float:none;
  padding-left: 25px;
  padding-right: 25px;
}

// home page content css below

.home-sides-container {
  background-color: #f8f8f8;
  border-top: 1px solid #e6e6e1;
}

.home-container {
  position: relative;
  max-width: 1180px;
  margin: auto;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  padding-bottom: 15px;
  border-right: 2px solid #e6e6e1;
  border-left: 2px solid #e6e6e1;
  border-bottom: 2px solid #e6e6e1;
}

.about {
  max-width: 500px;
  display: inline-block;
}

.smash-logo {
  float: right;
  padding-bottom: 10px;
  margin-top: 20px;
  display: inline-block;
}

#smash-img {
  width: 550px;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.row {
  margin-top: 25px;
}

.thumbnail {
  width: 249px;
  height: 163px;
  overflow: auto;
}

// character css below

.character-container {
  background-color: #6C7A89;
  border: 1px solid gray;
  margin-top: 2px;
  margin-bottom: 3px;
}

.char-img {
  display: block;
  margin: 0 auto;
}

.list-group-item {
  margin-top: 3px;
  margin-bottom: 3px;
}

#fox-info {
  display: none;
}

#falco-info {
  display: none;
}

#marth-info {
  display: none;
}

#sheik-info {
  display: none;
}

.floated_img {
  display: inline-block;
  width: 100px;
  height:100px;
  border: 2px solid #e6e6e1;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  cursor: hand;
}

.floated_img:hover {
    background-color: #b3d9ff !important;
    border: 2px solid #2c43a0 !important;
}

.image-border-radius {
  border-radius: 10px;
}

.list-group-item {
  border-radius: 10px;
}
